<launch>
<include file="$(find whycon)/launch/whycon_jrl.launch"></include>
<node name="whycon_lshape" pkg="whycon_lshape" type="whycon_lshape" output="screen">
  <rosparam param="l_shapes">
    - name: "pole"
      wing_length: 0.05
  </rosparam>
  <param name="tolerance" type="double" value="0.005" />
</node>
</launch>
